/* general page setup */
* {
    font: arial;
    background-color: black;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

/* nav layout and colors */

.navbar a:hover {
    color: blue;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar a{
    float: right;
    padding: 12px;
    color: lightgray;
    font-size: 17px;
    margin: auto;
}
/* title class */
.title {
    padding: 100px;
    color: black;
    text-align: center;
}