* {
    font: arial;
    background-color: black;
    color: whitesmoke;
}

.navbar a:hover {
    color: blue;
}

nav {
    display: inline;
    margin-left: 100px;
}

.navbar a:hover {
    color: blue;
}

.navbar a{
    float: right;
    padding: 12px;
    color: lightgray;
    font-size: 17px;
    margin: auto;
}

.title {
    padding: 100px;
    color: black;
    text-align: center;
}