/* Choose font style and reset page margin and padding */
* {
    font-style: arial;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1 {
    color: whitesmoke;
}
/* First half of page background image and view height */
.half-page-bg {
    background-image: url(../images/band_background.jpg);
    background-size: cover;
    height: 50vh;
}
/* Second half of page with slategray background color */
.other-half {
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  slategrey;
}

.navbar a:hover {
    color: blue;
}

/* Set nav to sticky position and adjust nav link spacing */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(1, 9, 19, 0.644);
}

.navbar a{
    float: right;
    padding: 12px;
    color: lightgray;
    font-size: 17px;
    margin: auto;
}

/* title class for beginning of page */
.title {
    padding: 100px;
    color: white;
    text-align: center;
}

/* set label and legend colors */
label {
    color: black;
}

legend {
    color: red;
}

#box {
    float: left;
    width: 50%;
    padding: 5px;
    border: 2px solid black;
}

/* class for textbox dimensions and padding */
.textbox {
    border: 2px solid black;
    width: 90%;
    height: 80px;
    padding: 5px;
}

/* calender class for positioning */
.calender {
    flex: 1;
    position: relative;
}

/* flex classes for positioning form items */
.flex {
    flex: 1;
}

.flex:first-child{
    margin-right: 20px;
}

/* set border to categorize form */
fieldset {
    border: 3px solid black;
}

/* container used in divs for flex display */
.container {
    display: flex;
}

/* padding, text, and color changes for html tags */
td {
    padding: 10px;
}

table {
    color: black;
}

caption {
    color: black;
    background-color: aliceblue;
    font-size: 50px;
}

footer {
    background-color: black;
}

/* footer class */
.footer-text {
    color: white;
    margin: 0px;
}

/* class for FAQs section */
.faqs {
    text-align: center;
}