body {
    background-image: url(assets/band_background.jpg);
    background-size: cover;
}

.navbar a:hover {
    color: blue;
}

nav {
    display: inline;
    margin-left: 100px;
}

.navbar a{
    float: right;
    padding: 12px;
    color: lightgray;
    font-size: 17px;
    width: 25%;
}
.title {
    padding: 100px;
    color: white;
    text-align: center;
}

label {
    color: lightgray;
}

legend {
    color: aqua;
}

.dates {
    color: black;
    padding: 20px;
    font-size: 15px;
}

#box {
    padding-left: 50%;
}
.textbox {
    border: 2px solid black;
    width: 1000px;
    height: 100px;

.left {
    text-align: left;
}