body {
    background-image: url(assets/band_background.jpg);
    background-size: cover;
}

.navbar a:hover {
    color: blue;
}

nav {
    display: inline;
    margin-left: 100px;
}

.navbar a{
    float: right;
    padding: 12px;
    color: lightgray;
    font-size: 17px;
    width: 25%;
}
h1 {
    padding: 100px;
    color: white;
    text-align: center;
}

label {
    color: lightgray;
}

legend {
    color: aqua;
}